@model WebApp.Models.Telefone

@using (Html.BeginCollectionItem("Telefone"))
{
    <div id="telefoneRow" class="telefoneRow">
        @Html.EditorFor(model => model.NumeroTelefone, new { htmlAttributes = new { @class = "form-control" } })
    </div>
}
